/**
 * GameGolem v$VER$.$REV$$REL$
 * http://rycochet.com/
 * http://code.google.com/p/game-golem/
 *
 * Copyright 2010-2011, Robin Cloutman
 * Licensed under the LGPL Version 3 license.
 * http://www.gnu.org/licenses/lgpl.html
 *
 * Includes jQuery JavaScript Library & jQuery UI
 * http://jquery.com/
 */
