/********** CSS code **********
* Gets pushed into the <head> on loading
* Also contains all inlined images (for later theming...)
*/

.red {
	background: #ffd3d3 !important;
}

.red:hover {
	background: #ffc0c0 !important;
}

.green {
	background: #e6ffe6 !important;
}

.green:hover {
	background: #d3ffd3 !important;
}

.golem-shadow {
	box-shadow: 2px 2px 4px black;
	-webkit-box-shadow: 2px 2px 4px black;
	-moz-box-shadow: 2px 2px 4px black;
}

.golem-tooltip {
	display: none;
	position: absolute;
	top: 10000px;
	left: 10000px;
	min-width: 250px;
	z-index: 5;
	margin: 0;
	padding: 0;
}

.golem-tooltip > p {
	background: white;
	border: 1px solid #aaaaaa;
	margin: 0;
	padding: 5px;
}

.golem-tooltip > a {
	float: right;
	color: red;
}

.golem-config {
	position: static;
	width: 190px;
	padding: 4px;
	margin-bottom: 17px;
	overflow: hidden;
	overflow-y: auto;
	float: right;
	z-index: 10;
}

.golem-config > div {
	margin-top: 4px;
}

.golem_config h3 {
	-webkit-user-select: none;
	-moz-user-select: none;
}

.golem-config #golem_fixed {
	float:right;
	margin:-2px;
	width:16px;
	height: 16px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAD1BMVEXe3t7d3d1jY2NVVVUAAAAjBnsxAAAABXRSTlP/////APu2DlMAAAAuSURBVHjaYmBBAwxkCzAzgRhMSAIQgCzAhCQAlmTCpwKrGUyMqLZQw+kIABBgAAB6A8ckFzCRAAAAAElFTkSuQmCC') no-repeat;
}

.golem-config-fixed {
	position: fixed;
	margin-left: 760px;
}

.golem-config-fixed #golem_fixed {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAD1BMVEXe3t7d3d1jY2NVVVUAAAAjBnsxAAAABXRSTlP/////APu2DlMAAAA1SURBVHjaYmBBAwzECTAxgwATkgqwAAspAozMTExMzAx4DGVmRuiBuYMZ3WGEBUjwHECAAQD+OQPH1IxVowAAAABJRU5ErkJggg==') no-repeat;
}

#golem-dashboard {
	position: absolute;
	width: 600px;
	height: 185px;
	margin: 0;
	border-left: 1px solid black;
	border-right:1px solid black;
	overflow: hidden;
	background: white;
	z-index: 3;
}

#golem-dashboard thead th {
	cursor: pointer }

#golem-dashboard thead th.golem-sort:after {
	content: '&darr;';
}

#golem-dashboard thead th.golem-sort-reverse:after {
	content: '&uarr;';
}

#golem-dashboard tbody tr:nth-child(odd) {
	background: #eeeeee;
}

#golem-dashboard td, #golem-dashboard th {
	margin: 2px;
	text-align: center;
	padding: 0 8px;
}

#golem-dashboard tbody th {
	text-align: left;
	font-weight: normal;
}

#golem-dashboard > div {
	height: 163px;
	overflow: hidden;
	overflow-y: scroll;
	border-top: 1px solid #d3d3d3;
}

#golem-dashboard > div > div {
	padding: 2px;
}

#golem-dashboard .golem-status {
	width: 100%;
}

#golem-dashboard .golem-status tbody th {
	text-align: right;
	padding: 2px;
	font-weight: bold;
}

#golem-dashboard .golem-status tbody td {
	text-align: left;
}

#golem-dashboard .overlay {
	position: absolute;
	left:10px;
	margin: 3px;
	color: white;
	text-shadow: black 0px 0px 2px;
}

table.golem-graph {
	height: 100px }

table.golem-graph tbody th, table.golem-graph tbody td {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

table.golem-graph tbody th {
	max-width: 75px;
}

table.golem-graph tbody th:first-child {
	text-align: right;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #cccccc;
}

table.golem-graph tbody th:first-child div {
	line-height: 60px;
	height: 60px;
}

table.golem-graph tbody th:first-child div:first-child, table.golem-graph tbody th:first-child div:last-child {
	line-height: 20px;
	height: 20px;
}

table.golem-graph tbody th:last-child {
	text-align: left;
	border-right: 1px solid #dddddd;
	vertical-align: bottom;
}

table.golem-graph tbody th:last-child div {
	position: relative;
	height: 10px;
	margin: -10px 0 0;
}

table.golem-graph tbody th:last-child div:nth-last-child(1) {
	color: #ff0000;
}

table.golem-graph tbody th:last-child div:nth-last-child(2) {
	color: #0000ff;
}

table.golem-graph tbody th:last-child div:nth-last-child(3) {
	color: #00ffff;
}

table.golem-graph tbody th:last-child div:nth-last-child(4) {
	color: #aa00aa;
}

table.golem-graph tbody td {
	margin: 0;
	padding: 0 !important;
	vertical-align: bottom;
	width: 5px;
	border-right: 1px solid #dddddd;
}

table.golem-graph tbody td:nth-child(12n+1) {
	border-right: 1px solid #cccccc;
}

table.golem-graph tbody td div div {
	margin: 0;
	padding: 0;
	width: 5px;
}

table.golem-graph tbody td div.bars div:nth-last-child(1) {
	background: #00ff00;
}

table.golem-graph tbody td div.bars div:nth-last-child(2) {
	background: #00aa00;
}

table.golem-graph tbody td div.bars div:nth-last-child(3) {
	background: #ffff00;
}

table.golem-graph tbody td div.bars div:nth-last-child(4) {
	background: #ff00ff;
}

table.golem-graph tbody td div.goal div {
	position: relative;
	height: 1px;
	margin: -1px 0 0;
}

table.golem-graph tbody td div.goal div:nth-last-child(1) {
	background: #ff0000;
}

table.golem-graph tbody td div.goal div:nth-last-child(2) {
	background: #0000ff;
}

table.golem-graph tbody td div.goal div:nth-last-child(3) {
	background: #00ffff;
}

table.golem-graph tbody td div.goal div:nth-last-child(4) {
	background: #aa00aa;
}

.golem-button, .golem-button-active {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(http://cloutman.com/css/base/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	display: inline-block;
	cursor: pointer;
	margin-left: 1px;
	margin-right: 1px;
	font-weight: normal;
	font-size: 13px;
	color: #555555;
	padding: 2px 2px 2px 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.golem-button:hover, .golem-button-active {
	border: 1px solid #aaaaaa;
	background: #dadada url(http://cloutman.com/css/base/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
}

img.golem-button, img.golem-button-active {
	margin-bottom: -2px }

.golem-tab-header {
	position: relative;
	top: 1px;
	border: 1px solid #d3d3d3;
	display: inline-block;
	cursor: pointer;
	margin-left: 1px;
	margin-right: 1px;
	background: #e6e6e6 url(http://cloutman.com/css/base/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
	padding: 2px 2px 1px 2px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.golem-tab-header-active {
	border: 1px solid #aaaaaa;
	border-bottom: 0 !important;
	padding: 2px;
	background: #dadada url(http://cloutman.com/css/base/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
}

.golem-title {
	padding: 4px;
	margin: -4px -4px 0 -4px !important;
	overflow: hidden;
	border-bottom: 1px solid #aaaaaa;
	background: #cccccc url(http://cloutman.com/css/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}

.golem-panel > .golem-panel-header, .golem-panel > * > .golem-panel-header {
	border: 1px solid #d3d3d3;
	cursor: pointer;
	margin-top: 1px;
	width: 184px;
	background: #e6e6e6 url(http://cloutman.com/css/base/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
	padding: 2px 2px 2px 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.golem-panel-header input {
	float: right;
	margin: 2px;
}

.golem-panel > .golem-panel-content, .golem-panel > * > .golem-panel-content {
	border: 1px solid #aaaaaa;
	border-top: 0 !important;
	padding: 2px 6px;
	background: #ffffff url(http://cloutman.com/css/base/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
	display: none;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.golem-panel-show > .golem-panel-header, .golem-panel-show > * > .golem-panel-header {
	border: 1px solid #aaaaaa;
	border-bottom: 0 !important;
	background: #dadada url(http://cloutman.com/css/base/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	-moz-border-radius-bottomleft: 0 !important;
	-webkit-border-bottom-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	-moz-border-radius-bottomright: 0 !important;
	-webkit-border-bottom-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.golem-panel-show > .golem-panel-content, .golem-panel-show > * > .golem-panel-content {
	display: block;
}

.golem-panel-sortable .golem-lock {
	display: none;
}

.golem-panel-content br:last-child {
	clear: both;
}

.golem-panel .golem-panel-header .golem-icon {
	float: left;
	width: 16px;
	height: 16px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEVVVVUAAAD1BJ+gAAAAAnRSTlP/AOW3MEoAAAAiSURBVHjaYmBEAwzUE2DAEGDAEGDAEGAgpIKQLRQ5HSDAAIEOAPHeJZW+AAAAAElFTkSuQmCC') no-repeat;
}

.golem-panel .golem-panel-header .golem-lock {
	float: right;
	width: 16px;
	height: 16px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEVVVVUAAAD1BJ+gAAAAAnRSTlP/AOW3MEoAAAAxSURBVHjaYmBEAwxECzAwMKAIMDDAROACjCgCDAxwJbgFGAkKoGrBtJYcv8ABQIABAG4RAM99K2ubAAAAAElFTkSuQmCC') no-repeat;
}

.golem-panel-show .golem-panel-header .golem-icon {
	float: left;
	width: 16px;
	height: 16px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEVVVVUAAAD1BJ+gAAAAAnRSTlP/AOW3MEoAAAAiSURBVHjaYmBEAww0E2CAACQVCD5MC5zPiE7T0GHIACDAAH/eAPHMY6ZiAAAAAElFTkSuQmCC') no-repeat;
}

.golem-info {
	text-align: center;
	display: block;
}

img.golem-image {
	width: 16px;
	height: 16px;
	margin-bottom: -4px;
}

