{
	"content_scripts": [ {
		"js": [ "jquery-latest.min.js",
			"jquery-ui.latest.min.js",
			"head_version.js",
			"main.js",
			"css.js",
			"utility.js",
			"worker.js",
			"worker_+army.js",
			"worker_+config.js",
			"worker_+dashboard.js",
			"worker_+debug.js",
			"worker_+global.js",
			"worker_+history.js",
			"worker_+page.js",
			"worker_+queue.js",
			"worker_+resources.js",
			"worker_+settings.js",
			"worker_+title.js",
			"worker_+update.js",
			"worker_+window.js",
			"worker_alchemy.js",
			"worker_bank.js",
			"worker_battle.js",
			"worker_blessing.js",
			"worker_ca_army.js",
			"worker_ca_page.js",
			"worker_elite.js",
			"worker_generals.js",
			"worker_gift.js",
			"worker_heal.js",
			"worker_idle.js",
			"worker_income.js",
			"worker_land.js",
			"worker_levelup.js",
			"worker_monster.js",
			"worker_news.js",
			"worker_player.js",
			"worker_potions.js",
			"worker_quest.js",
			"worker_town.js",
			"worker_upgrade.js" ],
		"matches": [
			"http://apps.facebook.com/castle_age/*",
			"https://apps.facebook.com/castle_age/*" ]
	} ],
	"description": "Autoplayer for Castle Age game on Facebook.",
	"name": "Castle Age Autoplayer - Golem",
	"icons": {
		"16": "icon16.png",
		"48": "icon48.png",
		"128": "icon128.png" },
	"permissions": [
		"tabs",
		"unlimited_storage",
		"http://apps.facebook.com/castle_age/*",
		"http://code.google.com/p/game-golem/*" ],
	"version": "$VER$.$REV$"
}
