{
	"content_scripts": [ {
		"js": [ "jquery-latest.min.js","jquery-ui.latest.min.js",
			$FILE$ ],
		"matches": [
			"http://apps.facebook.com/castle_age/*",
			"https://apps.facebook.com/castle_age/*" ]
	} ],
	"description": "Autoplayer for Castle Age game on Facebook.",
	"name": "Castle Age Autoplayer - Golem",
	"icons": {
		"16": "icon16.png",
		"48": "icon48.png",
		"128": "icon128.png" },
	"permissions": [
		"tabs",
		"unlimited_storage",
		"http://apps.facebook.com/castle_age/*",
		"http://code.google.com/p/game-golem/*" ],
	"version": "$VER$.$REV$"
}
